#interface {
  height: 1fr;
  width: 0.5fr;
  margin-top: 100px;
  background-color: tan;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#inputs {
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
}

#PosterImg {
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

#title {
  align-self: center;
}

#search {
  margin-left: 10px;
}
