html {
  font-family: Helvetica, sans-serif
}
header {
  background-color: #222222;
  justify-content: center;
}
body {
  margin: 0px;
  padding: 0px;
}
nav {
  display: flex;
  justify-content: center;
  padding: 12px;
}
main {
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  border-style: none;
}
#search {
  width: 670px;
  border-radius: 5px;
  border-color: transparent;
}
#logo {
  border-radius: 5px;
  height: 35px;
  margin-right: 10px;
}
#searchbox {
  display: flex;
  background-color: white;
  height: 40px;
  width: 700px;
  border-radius: 5px;
}
#searchbtn img {
  width: 30px;
}
#searchbtn {
  background-color: transparent;
  border-color: transparent;
}
#results {
  display: flex;
  border-radius: 10px;
  border-color: #d3d3d3;
  border-width: 1px;
  border-style: solid;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 600px;
  justify-self: center;
  align-self: center;
  margin-left: 350px;
  margin-top: 20px;
}
.result {
  height: 130px;
  display: flex;
  flex-direction: row;
}
hr {
  color:#d3d3d3;
  border-top: 10px;
}
.infoimage {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
  margin-top: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.yearruntimeratingmetascore {
  display: flex;
  flex-direction: row;
}
.datum {
  margin: 4px;
  padding-right: 5px;
  text-align: left;
  margin-left: 0px;
}
.hidden {
  display: none;
}
.shown {
  display: block;
}
.poster {
  width: 70px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title {
  font-size: 16px;
}
.yearruntimeratingmetascore p {
  font-size: 14px;
  color: #808080;
}
.starsinfo p {
  font-size: 14px;
  color: #808080;
}
#titles {
  display: flex;
  flex-direction: row;
  margin-left: 350px;
  margin-top: 50px;
}
#titlebar {
  background-color: #f3cE13;
  width: 3px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
}
#titleh1 {
  font-size: 25px;
  margin: 0px;
}