@font-face {
  font-family: jetLag;
  src: url(Fonts/DIN\ Next\ LT\ Arabic\ Bold.woff);
}

html {
  color: white;
  font-family: jetLag;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #213041;

  background-image: url(Images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #213041;
  padding: 10px;
  grid-area: nav-bar;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0.2;
}

.nav-toggle {
  display: none;
}

.nav-brand {
  flex-grow: 1;
  padding: 30px;
  font-size: 2rem;
}

.nav-menu li {
  list-style: none;
  align-content: center;
  text-align: center;
  padding: 10px;
  flex: 1;
  margin: 5px;
}

.nav-menu li a {
  transition-duration: 0.2s;
  color: white;
}

.nav-menu li a:hover {
  color: red;
  transition-duration: 0.2s;
}

.logo {
  display: flex;
  justify-content: center;
  grid-area: logo;
}

.logo img {
  width: 500px;
  height: auto;
}

.ruleGrid {
  display: Grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Seeker Hider Questions Curses";
}

.Rules {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 10px;
}

.Rules h2 {
  font-size: 1.5rem;
}

.rules-section {
  display: none;
  margin: 10px;
  padding: 10px;
}

.rules-card {
  background-color: white;
  color: #000000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.rules-card p {
  text-align: center;
}

.rules-card h3 {
  text-align: center;
}

.Rules h2 {
  text-align: center;
}

.SeekerSection {
  grid-area: Seeker;
}

.HiderSection {
  grid-area: Hider;
}

.QuestionsSection {
  grid-area: Questions;
}

.CursesSection {
  grid-area: Curses;
}

.homeGrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas:
    "nav-bar"
    "logo";
}

.main-footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  position: flow;
  bottom: 0px;
  width: 100%;
}

.text-sizes {
  align-self: center;
  justify-self: center;
  width: 60%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
}

.main-footer h2 {
  flex: 1 1 0;
}

.main-footer button {
  flex: 1 1 0;
  margin: 10px;
  height: 50px;
  text-align: center;
  justify-content: center;
}

#small-text {
  font-size: 12px;
  /*.75rem*/
}

#med-text {
  font-size: 16px;
  /*1rem*/
}

#large-text {
  font-size: 24px;
  /*1.5rem*/
}

@media (max-width: 1100px) {
  .ruleGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    transition-duration: 0.5s;
  }

  .hamburger {
    display: block;
    background-color: #000000;
    height: 6px;
    width: 30px;
    border-radius: 20px;
    padding: 0;
    margin: 3px;
  }

  .nav-menu.show {
    position: absolute;
    padding: 0px;
    top: 90px;
    right: 0px;
    height: 200px;
    width: 120px;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    background-color: #263343;
  }

  .nav-menu.hide {
    display: none;
  }

  .ruleGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 640px) {
  .text-sizes {
    width: 100%;
  }
}
