/* Colors:
020202
0d2818
04471c
058c42
16db65 (only one with black text)
(i changed my color scheme since the ica)
*/

html {
  font-family: "chamfer-gothic-ludlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-family: "rl-folklor", sans-serif;
  font-weight: 900;
  font-style: normal;
}

p {
  font-size: 32px;
  text-align: center;
}

.small-text {
  font-size: 24px;
}

h3 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 48px;
  text-align: center;
}

h1 {
  font-size: 56px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #036d19; /*change this*/
  font-size: 32px;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #8ac926; /*change this*/
}

button {
  background-color: #020202;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
  transition-duration: 0.2s;
  font-family: "chamfer-gothic-ludlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

button:hover {
  background-color: #0d2818;
  color: white;
}

.navbutton {
  width: 25%;
  margin: 0px;
  border: 0px;
  line-height: 100%;
  font-size: 56px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #04471c;
}

nav {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
}

main {
  color: white;
  padding: 0px;
  margin: 0px;
}

.myname {
  font-size: 112px;
  padding: 56px;
}

.projectphotos {
  width: 25%;
  height: 25%;
}

ul {
  font-size: 32px;
}